@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 400;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 400;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 250;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Thin.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 250;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Thin%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 300;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Book.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 300;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Light.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 300;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Book%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 300;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Light%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 500;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Medium.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 500;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Medium%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 600;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20SemiBold.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 600;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20SemiBold%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 700;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 700;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Bold%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 800;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20ExtraBold.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 800;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20ExtraBold%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 900;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Black.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 900;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Black%20Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: normal;
    font-weight: 950;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Heavy.woff")
            format("woff");
}
@font-face {
    font-family: "Axiforma";
    font-style: italic;
    font-weight: 950;
    src: local("Axiforma"),
        url("https://fonts.cdnfonts.com/s/28727/Kastelov%20%20Axiforma%20Heavy%20Italic.woff")
            format("woff");
}
